{% for talk in site.talks %}
{% if talk.key == include.key %}

<div class="talk">

    <div class="tportrait"><img src="{{ site.baseurl }}/images/speakers/{{talk.picture}}" alt="{{talk.speaker}}" style="max-width: 200px">

        <div>{{talk.picture-note}}</div>
    </div>
    <span>{{include.time}}</span>
    <div class="ttitle">Keynote: {{talk.title}}

        {% if talk.slides %}
        <span class="tspeaker" style="float: right;"><a href="{{ site.baseurl }}/files/{{talk.slides}}">Download
            Slides</a></span>
        {% endif %}
    </div>
    <div><span class="tspeaker">{{talk.speaker}}</span>, <span>{{talk.affiliation}}</span></div>

    <div><a href="{{ talk.website }}">{{ talk.website }}</a></div>



    <div class="tbioabstract">

        <div class="tabstract"><b>Abstract:</b> {{talk.abstract}}</div>
        <br/>

        <div class="tbio"><b>Bio:</b> {{talk.bio}}</div>
    </div>
</div>
{% endif %}
{% endfor %}
