{% for talk in site.data.papers %}
{% if talk.id == include.key %}

<div class="talk" style="border:0px !important; margin: 0px">

    <span>{{include.time}}</span>
    {% if talk.link == null or talk.link == "" %}
    <div class="ttitle">{{talk.title}}</div>
    {% else %}
    <div class="ttitle"><a href="{{talk.link}}">{{talk.title}}</a></div>
    {% endif %}
    <div><span class="tspeaker">{{talk.authors}}</span></div>
    <div class="tabstract"><b>Abstract:</b> {{talk.abstract}}</div>

</div>
{% endif %}
{% endfor %}
