---
layout: page
---

<p><b>VDS @IEEE VIS 2024</b></p>



<p>Registration at <a href="https://ieeevis.org/year/2024/info/registration/conference-registration"> https://ieeevis.org/year/2024/info/registration/conference-registration </a>.</p>

<span class="time">Sun. Oct 13, 2024, 1:30 PM-4:45 PM EDT (UTC-4)</span>

<div class="talk">
     <span class="time">1:30pm - 1:35pm</span><div class="ttitle">Opening</div>
     <span class="time">1:35pm - 2:15pm</span><div class="ttitle">Keynote: Marcus Beck</div>
     {% include invited_talk.html time="1:35pm~2:15pm EDT (UTC-4)" key="marcusbeck" %}
</div>

<div class="talk">
     <span class="time">02:15pm - 2:45pm</span><div class="ttitle">Paper Session 1</div>
     {% include paper.html time="2:15pm - 2:24pm" key="1" %}
     {% include paper.html time="2:24pm - 2:35pm" key="2" %}
     {% include paper.html time="2:35pm - 2:46pm" key="3" %}
</div>


<div class="talk">
     <span class="time">2:45pm - 3:30pm</span><div class="ttitle">Break + Poster Session</div>
</div>

<div class="talk">
     <span class="time">3:30pm - 4:00pm</span><div class="ttitle">Paper Session 2</div>
     {% include paper.html time="3:30pm - 3:41pm" key="4" %}
     {% include paper.html time="3:41pm - 3:50pm" key="5" %}
     {% include paper.html time="3:50pm - 3:59pm" key="6" %}
</div>

<div class="talk">
     <span class="time">4:00pm - 4:45pm</span><div class="ttitle">Fireside Chat</div>
     <b>Emcee:</b> Anamaria Crisan 
     <br>
     <div class="tttitle">VDS at IEEE VIS 2024 will conclude with a fireside chat reflecting on ten years of symposia at the Vis conference.  General Chair Alvitta Ottley will discuss the past, present, and future of visualization for data science with former chairs Hendrik Strobelt (VDS 2020) and Claudio Silva (VDS 2015).</div>
     <!-- {% include invited_talk.html time="4:00pm - 4:45pm" key="alvittaottley" %} -->
     <!-- {% include paper.html time="4:00pm - 4:45pm" key="7" %} -->
     <!-- <span class="time">4:45pm - 4:50pm</span><div class="ttitle">Closing</div> -->
</div> 
<div class="talk">
     <span class="time">4:45pm - 4:50pm</span><div class="ttitle">Closing</div>
</div> 



