---
layout: page
---

<p><b>VDS @IEEE VIS 2023</b></p>



<p>Registration at <a href="http://ieeevis.org/year/2023/info/registration/conference-registration"> http://ieeevis.org/year/2023/info/registration/conference-registration </a>.</p>

<span class="time">Mon. Oct 23, 2023, 2:00 PM-5:00 PM AEDT (UTC+11)</span>

<div class="talk">
     <span class="time">2:00pm - 2:05pm</span><div class="ttitle">Opening</div>
     <span class="time">2:05pm - 2:45pm</span><div class="ttitle">Keynote 1: Dr Emi Tanaka</div>
     {% include invited_talk.html time="9:05am~9:40am CDT" key="emitanaka" %}
</div>

<div class="talk">
     <span class="time">02:45pm - 4:07pm</span><div class="ttitle">Paper Session</div>
     {% include paper.html time="2:45pm - 2:56pm" key="1" %}
     {% include paper.html time="2:56pm - 3:07pm" key="2" %}
</div>


<div class="talk">
     <span class="time">3:15pm - 3:45pm</span><div class="ttitle">Break</div>
</div>

<div class="talk">
     <span class="time">3:45pm - 4:16pm</span><div class="ttitle">Paper Session 2</div>
     {% include paper.html time="3:45pm - 4:56pm" key="3" %}
     {% include paper.html time="4:56pm - 4:07pm" key="4" %}
     {% include paper.html time="4:07pm - 4:16pm" key="5" %}
</div>

<div class="talk">
     <span class="time">4:16pm - 4:56pm</span><div class="ttitle">Keynote 2: Dr. Tamara Munzner</div>
     {% include invited_talk.html time="4:16pm - 4:56pm" key="tamaramunzner" %}
     <span class="time">4:56pm - 5:00pm</span><div class="ttitle">Closing</div>
</div> 

